#backToTop {
  background-color: var(--theme-dark);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: var(--btn-bg-light);
    box-shadow: 0 0 5px var(--bg-grey);
  }
  i {
    font-size: 2rem;
    color: var(--text-dark);
  }
}

@media (max-width: 768px) {
  #backToTop {
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;

    i {
      font-size: 1.5rem;
    }
  }
}
