header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  .burger-icon {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: var(--secondary-text);
    cursor: pointer;
  }

  .mobile-theme-switch-li {
    display: none;
  }
  .nav-container {
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 0.8rem 2rem;
    box-shadow: 0px 4px 5px var(--base-variant);
    border-radius: 250px;
    box-sizing: border-box;

    /* Glassmorphism setup */
    border: 1px solid var(--accent-color);
    background: var(--base-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Safari support */
    box-shadow: 0 8px 20px 0 var(--primary-color);
    transition: all 0.4s ease-in-out;

    .logo {
      text-decoration: none;
      color: var(--secondary-text);
      font-size: 2.5rem;
      padding: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.05rem;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  /* Shrink Effect when Scrolled */
  &.scrolled {
    padding: 0.5rem 2rem;

    .nav-container {
      padding: 0.5rem 1.5rem;
      background: var(--base-color);
      box-shadow: 0 10px 20px var(--base-variant);
    }

    .logo {
      font-size: 2rem;
    }
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1rem;
      letter-spacing: 0.05rem;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover,
      &.active {
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 3px solid var(--accent-color);
        color: var(--accent-color);
      }
    }

    li:last-child {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem 1rem;

    .burger-icon {
      display: block;
      z-index: 1002;
    }

    .desktop-theme-switch {
      display: none;
    }

    .nav-container {
      padding: 0.5rem 1.25rem;
      border-radius: 50px;
    }

    &.scrolled {
      padding: 0.25rem 1rem;

      .nav-container {
        padding: 0.4rem 1rem;
      }

      .logo {
        font-size: 1.25rem;
      }
    }
  }

  /* Mobile Drawer Setup */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--base-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: -5px 0 15px var(--base-variant);
    transition: right 0.4s ease-in-out;
    z-index: 1001;

    &.open {
      right: 0;
    }

    li {
      width: 100%;
      text-align: center;
    }
    li a {
      display: block;
      color: var(--text-color);
      font-size: 1.1rem;
      border-bottom: none;
      padding: 0.5rem 1rem;
      text-decoration: none;

      &.active {
        font-weight: bold;
        border-bottom: none;
        color: var(--secondary-text);
        background: var(--base-color);
      }
    }

    li:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
    }

    .nav-overlay {
      position: fixed;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100vh;
      background: var(--base-color-translucent);
      z-index: 1000;
      cursor: pointer;
    }
  }
}
