*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pill-switch {
  width: 80px;
  height: 40px;
  padding: 0;
  border-radius: 34px;
  background-color: var(--base-variant);
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}
.pill-knob {
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pill-switch.active {
  background-color: var(--accent-color);
}
.pill-switch.active .pill-knob {
  transform: translateX(37px);
}
