.two-column-grid {
  .column-left {
    flex: 1;
    padding-right: 1.5rem;

    .contact-card {
      background-color: var(--primary-color);
      padding: 10px 5px;
      margin: 5% auto;
      border-radius: 10px;
      text-align: left;
      box-shadow: 2px 4px 8px 0.9px var(--base-variant);
      transition:
        transform 0.3s ease-in,
        background-color 0.3s ease-in,
        color 0.5s ease;
      width: 100%;
      cursor: pointer;

      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        margin: 0.5rem auto;
        padding-left: 2rem;
        font-size: 1.15rem;
        line-height: 1.25;
        p {
          margin: 0;
          text-align: left;
        }
      }

      a {
        text-decoration: none;
        color: var(--text-color);
      }

      i {
        font-size: 2.25rem;
      }

      span {
        font-weight: 700;
      }

      &:hover {
        background-color: transparent;
        box-shadow: var(--shadow);
        i,
        span {
          letter-spacing: 0.05rem;
          color: var(--secondary-text);
          transform: translateY(-5px);
        }
      }
    }
  }

  .column-right {
    flex: 1;
    box-shadow: var(--shadow);
  }
}

@media (max-width: 768px) {
  .two-column-grid {
    .column-left {
      padding-right: 0;

      .contact-card {
        padding: 10px 5px;

        div {
          padding-left: 1rem;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    .column-right {
      box-shadow: none;
      margin: 3rem auto;
    }
  }
}
