.row-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;

  .row-card {
    background-color: var(--base-color);
    padding: 2.5rem 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0.5px var(--accent-color);
    transition: all 0.3s ease;
    text-align: center;
    max-width: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    span {
      font-size: 2rem;
    }
    ul {
      margin-top: 1rem;
      display: inline-block;
      text-align: left;
      padding-left: 1.5rem;
    }

    li {
      line-height: 1.8rem;

      &:hover {
        color: var(--primary-color);
        font-weight: bold;
        cursor: crosshair;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 768px) {
  .row-card-container {
    flex-direction: column;
    align-items: center;
    padding: 0 0.1rem;

    .row-card {
      width: 100%;
      max-width: 100%;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}
