.skills-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 1rem;
}

.skills-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px 0.5px var(--base-variant);
  border-radius: 10px;
  padding: 2em;
  width: 100%;
  box-sizing: border-box;

  h3 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .skills-card-pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }
  p {
    background-color: var(--accent-color);
    color: var(--primary-text);
    border: 1px solid var(--accent-color);
    width: auto;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    cursor: crosshair;

    &:hover {
      background-color: var(--base-color);
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .skills-card-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0.5rem;
    gap: 3rem;
  }
}
